/* elements */
*{ 
	box-sizing : border-box;
}
html, body{
	padding:0px;
	margin:0px;
	font-family: $lucida; 
}

h1,h2,h3,h4{
	font-family: $alfa;
	text-transform: uppercase;
	text-align: center;
}

input,textarea{
	font-size: 14px;
	font-family: arial;
}

button{
	cursor: pointer;
}
/* classes */
.row{
	&.app{
		height:90vh;
		margin-top:5vh;

		[class*="col-"] {
			height: 100%;
		}
	}
}

.fish-container, .item-container{
	overflow-x: auto;
	max-height: calc(100vh - 200px); 
}




/* ids */
#menu{
	border: 1px double #ccc;

	ul{
		list-style: none;
		padding:0px;
		margin: 0px;
		li{
			margin-right:15px;
			margin-bottom:15px;

			&::after{
				content: "";
			    clear: both;
			    display: block;
			}

			img{
				width: 150px;
				float:left;
				margin-right:20px;
			}
		}
	}

	.item-container{

		.item-price{
			float: right;
			font-size: 12px;
		}
	}

	h4{
		text-align: left;
	}

	button[disabled]{
		color: #d12028;
	    background: #fff;
	    border-color: #d12028;
	    -webkit-transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
	    -ms-transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
	    transform: rotate(-10deg) scale(2) translateX(50%) translateY(-50%);
	}
}

#orderList{
	border: 1px double #ccc;

	.order-container{
		ul{
			list-style: none;
			margin: 0px;
			padding: 0px;

			li{
				padding:15px 0;
				border-top:1px solid #111;
				font-size: 13px;

				&:first-child{
					border-top:0px;
				}

				&:hover{
					.order-remove{
						display: inline-block;
					}
				}

				&.order-total{
					border-bottom: 3px solid #000;
		    		border-top: 3px double #000;
					padding: 10px 0;
					font-size: 12px;
				}

				.order-amount{
					float: right;
				}

				.order-name{

				}

				.order-price{
					float: right;
				}

				.order-remove{
					display: none;
					cursor: pointer;
				}

				.sold{
					color:red;
					text-decoration: line-through;
				}
			}
		}
	}

}

#inventory{
	border: 1px double #ccc;

	.fish-edit, .fish-add{
		margin-bottom: 20px;
	}
}