<!-- 
	Author : Kristoffer Bandong
	Idea : this project is inpired by ReactJs catch-of-the-day tutorial 
	URL : http://catchoftheday.wesbos.com/store/ugliest-repulsive-elves
-->

<!DOCTYPE html>
	<head>
		<!-- angular libraries go here -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="js/main.js"></script>
		<script src="js/common/data_service.js"></script>

		<!-- css files -->
		<link rel='stylesheet' href='css/style.css' >
	</head>
	<body ng-app='orderApp'>
		<div class='row app'>
			<div id='menu' class='col-5' ng-controller='menuController as menuCtrl'>
				<h1>catch of the day</h1>
				<div class='item-container'>
					<ul class='item-list' >
						<li ng-repeat='list in lists track by $index'>
							<img ng-src='{{list.photo}}' />
							<h4>
								<span>{{list.name}}</span>
								<span class='item-price'>{{list.price | currency}}</span>
							</h4>
							<p>
								{{list.description}}
							</p>
							<button disabled ng-if='list.available === "false"'>SOLD OUT!</button>
							<button ng-if='list.available === "true"' ng-click='addOrder($index)'>add to order</button>
						</li>						
					</ul>
				</div><!-- end of item-container -->
			</div><!-- end of menu -->
			<div id='orderList' class='col-3' ng-controller='orderController as orderCtrl'>
				<h3>Your order</h3>
				<div class='order-container'>
					<ul>
						<li ng-repeat='order in orders track by $index'>
							<span class='order-name' ng-class='{"sold" : order.available === "false"}'>{{order.name}}</span>
							<span ng-if='order.available === "false"'>SOLD</span>

							<span class='order-price' ng-if='order.available === "false"'>{{0 | currency}}</span>
							<span class='order-price' ng-if='order.available === "true"'>{{order.price | currency}}</span>

							<span class='order-remove' ng-click='removeOrder($index)'>x</span>
						</li>
						<li class='order-total'>
							<strong>Total :</strong> 
							<strong><span class='order-amount'>{{totalOrder() | currency}}</span></strong>
						</li>
					</ul>					
				</div>				
			</div><!-- end of orderList -->
			<div id='inventory' class='col-4' ng-controller='inventoryController as inventoryCtrl'>
				<h2>inventory</h2>
				<div class='fish-container'>
					<div class='fish-edit' ng-repeat='list in lists track by $index'>
						<div class='row'>
							<input type='text' ng-model='list.name' value='{{list.name}}' class='col-4'>
							<input type='text' ng-model='list.price' value='{{list.price}}' class='col-4'>
							<select class='col-4' ng-model='list.available'>
								<option value='true' ng-selected='list.available === "true"' >Fresh!</option>
								<option value='false' ng-selected='list.available === "false"'>Sold Out!</option>
							</select>
							<textarea class='col-12' ng-model='list.description'>{{list.description}}</textarea>
							<input type='text' ng-model='list.photo' value='{{list.photo}}' class='col-12'>
							<button class='col-12' ng-click='removeItem($index)'>remove fish</button>
						</div>
					</div>
					<div class='fish-add'>
						<div class='row'>
							<input type='text' ng-model='name' class='col-4'>
							<input type='text' ng-model='price' class='col-4'>
							<select class='col-4' ng-model='availability'>
								<option value='true'>Fresh!</option>
								<option value='false'>Sold Out!</option>
							</select>
							<textarea class='col-12' ng-model='description'></textarea>
							<input type='text'  ng-model='photo' class='col-12'>
							<button class='col-12' ng-click='addItem()'>add fish</button>
						</div>
					</div>
					<button ng-click='loadSamples()'>Load samples fishes</button>
				</div><!-- end of fish-container -->	
			</div><!-- end of inventory -->
		</div>
	</body>
</html>